* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-box {
  display: grid;
  place-content: center;
  gap: 20px;
}

.main-box form {
    display: grid;
    place-content: center;
    gap: 10px;
}

.main-box form span {
    color: red;
}

.main-box form button {
    padding: 0.5em 0;
    width: 100%;
}